#container {
height: 600px;
width: 80%;
background—color:azure;
margin: 10px auto;
border: 2px solid black;
display:flex;
flex-direction:row;
flex-wrap:wrap;
/* justify-content:flex-end; */
justify-content:flex-strat;
align-items: center;
align-content:baseline;


}
h1{
    text-align: center;
}
#container div{
    height:100px;
    width:200px;
    color:white;
    text-align:center;
    font-size:1.5em;
}#org{
    align-self:flex-end;
    flex-basis:100px;
}
#blue{
    align-self:flex-end;
    flex-basis:100px;}
 #org{
        align-self:flex-end;
        flex-basis:100px;
    }