#container {
    height: 400px;
    width: 400px;
    border: 2px solid rgb(100, 167, 162);
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.a {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 6%;
    margin: 10px auto;
    font-size: 50px;
    text-align: center;
    background-color: grey;
}

#con {
    height: 50px;
    width: 900px;
    border: 2px solid rgb(100, 167, 162);
    background-color: pink;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    



} 

.ab {
    height: 50px;
    width: 80px;
    font-size: 24px;
    align-content: center;
    margin-left: 5px;
} 

/* #con {
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    
    
}

.ab {
    height: 50px;
    width: 80px;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 24px;
    line-height: 50px;
}  */