.contain {
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);

}

.ff {
    margin: 2px;
    background-color: pink;
}

#one {
    grid-column: 1/13;
}

#two {
    grid-row: 2/12;
    grid-column: 1/4;
}

#three {
    grid-column: 4/10;
}

#four {
    grid-column: 10/13;
    grid-row: 2/12;
}

#five {
    grid-row: 3/12;
    grid-column: 4/10;
}

#six {
    grid-column: 1/13;
}

@media(min-width:720px) {
    #one {
        grid-column: 1/13;
    }

    #three {
        grid-column: 1/13;
    }

    #two {
        grid-row: 3/12;
        grid-column: 1/4;
    }

    #four {
        grid-column: 4/13;
        grid-row: 3/12;
    }

    #five {
        grid-row: 12/13;
        grid-column: 1/4;

    }

    #six {
        grid-column: 4/13;
    }

}