<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page </title>
</head>
<body>
    <h1> This is the Home Page</h1>
    <h3> <%= "thisstring".toUpperCase(); %></h3>
    <h3> <%= ["ele1","ele2","ele3"][1] %></h3>
    <p>This is some random text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button>Click me!</button>
</body>
</html>
