.box{
    height:100px;
    width:300px;
    background-color:pink;

    
    animation: colorAnimation 3s ease-in 0s infinite normal;

}



@keyframes fontAnimation{
    from{
        font-size:20px;
        background-color:green;
    }
    to{
        font-size:40px;
    }
}
@keyframes colorAnimation{
    0%{
        background-color:green;
    }
    50%{
        background-color:blue;
    }100%{
        background-color:red;
    }
}