<!DOCTYPE html>
<html>
  <head>
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="body container">
    <form method="post" action="/posts">
      <input placeholder="enter username" name="username" /> <br><br>
      <textarea placeholder="write your content" name="content"></textarea><br><br>
      <button class="button-26">Submit Button</button>
    </form>
  </body>
</html>
